<script type="text/javascript">
  jQuery(document).ready(function($) {

    $('.iframe').fancybox( {
      padding: 0,
      scrolling: 'no',
      autoScale: true,
      autoDimensions: false,
      type: 'iframe'
    } );

<% if @use_sso %>
    $('#logout').click(sso_logout);
<% end %>

    $('select#screens').change(function() {
      var screen = $('option:selected', this).attr('value');
      location = '<%= "#{@my_addr}/#{@name}/" %>' + screen
    });

    $('select#apps').change(function() {
      var app = $('option:selected', this).attr('value');
      location = '<%= "#{@my_addr}/" %>' + app + '/<%= params[:action] %>'
    });

  });
    // 
  CAPTURE.resize = function(jargs)
  {
    var args = JSON.parse(jargs);
    jQuery("#fancybox-content").css({
      "height": args.h + "px",
      "width": args.w + "px"
    });
    jQuery.fancybox.resize()
    jQuery.fancybox.center()
  } 

  CAPTURE.recoverPasswordCallback = function()
  {
    $.fancybox.close();
    $('#message').show();
    $('#message').text("We've sent an email with instructions for creating a new password. Your existing password has not been changed.");
  }

</script>

<div id="navigation">

<% if yield(:name) != "home" %>
  <%= link_to "Home", "/#{@name}/home" , :id => "home" %> 
<% end %>

<% if signed_in? %>
  Hello, <%= @username %>! |
<% end %>


<label for='apps'>App:<label>
<select id='apps'>
  <% @apps.each do |app| %>
  <option <% if @name == app %> selected='yes' <% end %> value='<%= app %>'>
    <%= app %>
  </option>
<% end %>
</select> |

<label for='screens'>Screen:<label>
<select id='screens'>
  <option value='home'>&lt;select a screen&gt;</option>
<% @screens.each do |screen| %>
  <option <% if params[:action] == screen %> selected='yes' <% end %> value='<%= screen %>'>
    <%= screen %>
  </option>
<% end %>
</select> |

<% if signed_in? %>
  <%= link_to "Sign Out", "/#{@name}/logout" %>
<% else %>
  <%= link_to "Sign In", "/#{@name}/signin" %>
<% end %>

</div>
