<script type="text/javascript">
  jQuery(document).ready(function($) {

<% if !@screen_debug %>
    $('.iframe').fancybox( {
      padding: 0,
      scrolling: 'no',
      autoScale: true,
      autoDimensions: false,
      type: 'iframe'
    } );
<% end %>


<% if @use_sso %>
    $('#logout').click(sso_logout);
<% end %>

<% if @screen_debug %>
    $('select#screens').change(function() {
      var screen = $('option:selected', this).attr('value');
      location = '<%= "#{@my_addr}/#{ app.name }/" %>' + screen
    });

    $('select#apps').change(function() {
      var app = $('option:selected', this).attr('value');
      location = '<%= "#{@my_addr}/" %>' + app + '/<%= @screen_name %>'
    });
<% end %>

  });
  
  CAPTURE.resize = function(jargs)
  {
    var args = JSON.parse(jargs);
    jQuery("#fancybox-content").css({
      "height": args.h + "px",
      "width": args.w + "px"
    });
    jQuery.fancybox.resize()
    jQuery.fancybox.center()
  } 

  CAPTURE.recoverPasswordCallback = function()
  {
    $.fancybox.close();
    $('#message').show();
    $('#message').text("We've sent an email with instructions for creating a new password. Your existing password has not been changed.");
  }

</script>

<div id="navigation">

<% if @screen != "home" %>
  <%= link_to "Home", "/#{app.name}/home" , :id => "home" %> 
<% end %>

<% if signed_in? %>
  Hello, <%= @username %>! |
<% end %>

<% if @screen_debug %>

<label for='apps'>App:<label>
<select id='apps'>
  <% @apps.each do |x| %>
  <option <% if app.name == x %> selected='yes' <% end %> value='<%= x %>'>
    <%= x %>
  </option>
<% end %>
</select> |

<label for='screens'>Screen:<label>
<select id='screens'>
  <option value='home'>&lt;select a screen&gt;</option>
<% app.screens.each do |screen| %>
  <option <% if screen == @screen_name %> selected='yes' <% end %> value='<%= screen %>'>
    <%= screen %>
  </option>
<% end %>
</select> |

<% else %>
  <% if signed_in? %>
    <% if @screen != "public_profile" %>
      <%= link_to "Public Profile", "/#{app.name}/public_profile" %> |
    <% end %>
    <% if @screen != "profile" %>
      <%= link_to "Edit Profile", "/#{app.name}/profile" %> |
    <% end %>
  <% end %>
<% end %>

<% if signed_in? %>
  <% if @use_sso %>
    <%= link_to "Sign Out", "#", :id => "logout" %> 
  <% else %>
    <%= link_to "Sign Out", "/#{app.name}/logout" %>
  <% end %>
<% else %>
  <% if @screen_debug %>
    <%= link_to "Sign In", "/#{app.name}/signin" %>
  <% else %>
    <%= link_to "Sign In", @signin_uri, :class => "iframe signin_link" %>
  <% end %>
<% end %>

</div>
