<html>
  <head>
    <title> <%= "#{@app}/#{@screen}" %> </title>
    <%= stylesheet_link_tag "demo" %>
    <%= stylesheet_link_tag "/fancybox/jquery.fancybox-1.3.3.css" %>

    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" %>
    <%= javascript_include_tag "/fancybox/jquery.fancybox-1.3.3.pack.js" %>
    <% #javascript_include_tag "http://#{settings["captureui_addr"]}/cdn/javascripts/capture_client.js" %>

    <%= render "backplane" %>
     
    <%= render "sso" %>
 
    <script>
      CAPTURE = {}
    </script>

  </head>

  <body>

    <%= render "navigation" %> 
    
    <div id="page">

      <div id='message' style="color: blue; padding: 20px; display: none; text-align: center"></div>
      
      <% if flash[:user_friendly_message] %>
        <script type="text/javascript">
          $('#message').show();
          $('#message').text("<%= flash[:user_friendly_message]; %>");
        </script>
      <% end %>
        
      <div class="content">
       <%= yield %>
      </div>

    </div>

  </body>
</html>
